html, body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(-45deg, #134363, #6DD5FA, #FFFFFF);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; 
}
@keyframes gradient {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}  
section:before { 
  content: ""; 
  position: absolute; 
  top: 50; 
  left: 60; 
  width: 100%; 
  height: 100%; 
  background-image: url(img/rain.png); 
  animation: rain 0.5s linear infinite; 
  opacity: 0; 
} 
@keyframes rain { 
  0% { 
      background-position: 0 0; 
      opacity: 1; 
  } 

  100% { 
      background-position: 8% 80%; 
      opacity: 1; 
  } 
} 
.rainbow{
  position: absolute;   
     top:20%;
     left: 50%;
     transform: translate(-50%, 50%);
}
ul{
  margin: 0;
  padding: 0;
  position: relative;     
  width: 500px; 
  height: 340px;  
  overflow: hidden;
  border-bottom: 0.5px solid rgba(0,0,0,.2); 
}
ul li
{
 list-style: none;
 position: absolute; 
 border-radius: 50%; 
 border: 25px solid #000;
 top:100%;    
 left:50%;
 border-bottom-color: transparent !important;
 border-left-color: transparent !important;
 box-shadow: 0 0 10px rgba(0,0,0,.5);
 animation: animate 5s infinite alternate;
 transform: translate(-50%, 50%);
}
li:nth-child(1)
{
  width: 60px;
  height: 60px;
  border-color: rgb(174, 0, 255);  
}
li:nth-child(2)
{
  width: 90px;
  height: 90px;
  border-color: rgb(0, 17, 255);
}
ul li:nth-child(3)
{
  width: 120px;
  height: 120px;
  border-color: rgb(0, 255, 255);
}
ul li:nth-child(4)
{
  width: 150px;
  height: 150px;
  border-color: rgb(0, 255, 13);
}
ul li:nth-child(5)
{
  width: 180px;
  height: 180px;
  border-color: rgb(238, 255, 0);
}
ul li:nth-child(6)
{
  width: 210px;
  height: 210px;
  border-color: rgb(255, 102, 0);
}
ul li:nth-child(7)
{
  width: 240px;
  height: 240px;
  border-color: rgb(255, 0, 0);
} 
@keyframes animate
 {
      0%
     {
         transform: translate(-50%, -50%) rotate(-45deg);
     } 
     100% {
      transform:translate(-50%, -50%) rotate(315deg);
     }  
 }
 .field{
  background: #218a50;
  border-radius: 50%;
  top: 80%;
  position: absolute; 
  bottom: 0; 
  width: 100%;
  height: 120px;
}
.flower{
  position: absolute;
  transform: scale(0.1);
  width: 100%;
  height: 100%;
  opacity: 0%;
  animation: flower-show 10s infinite;
  background-image: url(img/f.png);
  background-repeat: no-repeat;
}
#f1{
  left: 20%;
  top: 40%;
}
#f2{
  left: 25%;
  top: 42%;
}
#f3{
  left: 30%;
  top: 38%;
}
#f4{
  left: -25%;
  top: 42%;
}
#f5{
  left: -30%;
  top: 38%;
}
#f6{
  left: -20%;
  top: 40%;
}
@keyframes flower-show{
  0%{
  opacity:0;
  }
  25%{
    opacity:0.5;
    }
  50%{
      opacity:1;
    }
  75%{
      opacity:0.5;
    }
  100% {
  opacity:0;
  }
}
.flower:hover{
  display: none;
}
#butterfly {
  position: relative;
  width: 350px;
  height: 444px;
  -webkit-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
  -ms-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
  transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: butterfly 5s linear infinite;
   animation: butterfly 5s linear infinite; 
}
@keyframes butterfly {
  from {
    transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  25% {
    transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  50% {
    transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  75% {
    transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
}
@-webkit-keyframes butterfly {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
} 
#leftwing {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 301px;
  height: 444px;
  background-image: url(img/b1.png);
  background-repeat: no-repeat;
  -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  -ms-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  -webkit-transform-origin: inherit;
  -ms-transform-origin: inherit;
  transform-origin: inherit;
  -webkit-animation: leftwing 0.2s linear infinite;
  animation: leftwing 0.2s linear infinite;
 
}
#rightwing {
  position: absolute;
  left: 175px;
  top: 0px;
  width: 301px;
  height: 444px;
  background-image: url(img/b1.png);
  -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  -webkit-transform-origin: inherit;
  -ms-transform-origin: inherit;
  transform-origin: inherit;
  -webkit-animation: rightwing 0.2s linear infinite;
  animation: rightwing 0.2s linear infinite;
  background-repeat: no-repeat;
}
@-webkit-keyframes rightwing {
  from {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 100deg);
  }
  to {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes rightwing {
  from {
    transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
  50% {
    transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 100deg);
  }
  to {
    transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
}
@-webkit-keyframes leftwing {
  from {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 80deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes leftwing {
  from {
    transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotateX(90deg) rotate3d(0, 1, 0, 80deg);
  }
  to {
    transform: rotateX(90deg) rotate3d(0, 1, 0, 00deg);
  }
} 
.sun{
  position: absolute;
  top:5%;
  right: 5%;
}
.svg-sun{
  width:300px;
  height:300px;
  -webkit-transform-origin: center center;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin:50% 50%;
  animation: spin 25s linear infinite,sun-color 3s 0s linear infinite;
}
#sun{
  stroke-width:18;
  stroke-dasharray:2;
  stroke-dashoffset:2;
}
@keyframes sun-color { 
	0% { fill: #f1c40f; stroke:#f1c40f;}
	50% { fill: #e67e22; stroke:#e67e22;}
	100% { fill: #f1c40f; stroke:#f1c40f;}
} 
@keyframes spin{
	100% {
		-webkit-transform: rotate(360deg);
	}
}
